{% extends 'base.html'%}

{% block content %}
    <section class = "bg-dark text-light text-center shadow">
        <div class="container p-5 bg-dark">
            <div class="row">
                <div class="d-md-flex bg-dark align-items center justify-content-evenly">
                    <h1 class="col text-center"><br>The Plant Collection</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-dark"style="background: #000 ">
        <div class="img-fluid height:100vh width:100%" >
            <div class="row-2m">
                <div class="d-flex align-items-center justify-content-center" >
                   <img src="../../static/Images/dark_plants.jpg" class='img-fluid justify-center bg-contain bg-fixed height:auto' alt="">
               </div>
           </div>
        </div>
    </section>

{% endblock %}

83c310fc6ad7cdeded154d67328ccb85cf88d4d51736d1c6